__pycache__/
.idea
.eggs/
repost_from_pinterest_bot.egg-info/
.env
*.log
temp/
repost_from_pinterest_bot/settings.yaml
repost_from_pinterest_bot/pinterest/testing_imgs
repost_from_pinterest_bot/pinterest/failed_pages
.python-version